@inherits LayoutComponentBase

<div class="relative flex flex-col sidebar:flex-row">
    <div class="bg-gradient-to-b from-[rgb(5,39,103)] to-[#3a0647]
                sidebar:w-[250px] sidebar:h-screen sidebar:sticky sidebar:top-0">
        <NavMenu />
    </div>

    <main class="flex-1">
        <article class="px-4 pt-[1.1rem] sidebar:pl-8 sidebar:pr-6">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">&#x1F5D9;</a>
</div>
