@inherits LayoutComponentBase

<div class="relative flex flex-col sidebar:flex-row">
    <div class="bg-gradient-to-b from-[rgb(5,39,103)] to-[#3a0647]
                sidebar:w-[250px] sidebar:h-screen sidebar:sticky sidebar:top-0">
        <NavMenu />
    </div>

    <main class="flex-1">
        <article class="px-4 pt-[1.1rem] sidebar:pl-8 sidebar:pr-6">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui"
     class="fixed bottom-0 left-0 w-full z-[1000] bg-[lightyellow] shadow-[0_-1px_2px_rgba(0,0,0,0.2)] py-2.5 px-5 hidden">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss cursor-pointer absolute right-3 top-2">&#x1F5D9;</a>
</div>
